@font-face{
font-family: "OpenSans-Regular";
    src: url(../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
    /*font-weight: normal;*/
}

@font-face{
    font-family: "OpenSans-Bold";
       src: url(../fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf);
       /*font-weight: normal;*/
    }

@font-face{
    font-family: "OpenSans-ExtraBold";
    src: url(../fonts/Open_Sans/static/OpenSans/OpenSans-ExtraBold.ttf);
    /*font-weight: normal;*/
}

@font-face {
    font-family: "OpenSans_Condensed-ExtraBold";
    src: url(../fonts/Open_Sans/static/OpenSans_Condensed/OpenSans_Condensed-ExtraBold.ttf);
    /*font-weight: bold;*/  
}