html {
    font-size: 62.5%;
    font-family: OpenSans-Regular;

}
body {
    /*display: flex;*/
    /*height: 100vh;*/
    /*flex-direction: column;*/
 
        background: linear-gradient(0.40turn, #417485, #fcc8a0 );
        background-size: 350% 350%;
        animation: gradient 25s ease infinite;
        min-height: 100vh;
    }

    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    


body>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   /* background: linear-gradient(0.25turn, #417485,#fcc8a0);*/

}
header {
    display: flex;
    background-color: #324158;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    /*border-bottom:  1px solid rgba(65, 116, 133, 0.9);*/
}
.header_contener {
    display: flex;
    align-items: center;
}
   

header h1 {
    /*background-color: aquamarine;*/
    color: aliceblue;
    font-family: OpenSans-ExtraBold;
    font-size: 2rem;
    padding-right: 1.5rem;
    /*margin-left: 2rem;*/
    line-height: 3rem;
    z-index: 1;
}

.header_svg {
    display: flex;
    padding-left: 2rem;
    margin-right: 1.5rem;
    align-items: center;
    z-index: 1;
}

ul {
    display: flex;
    flex-wrap: wrap;
    padding-right: 3rem;

}

nav  {
    background-color: #324158;
}

.nav-item {
    font-family: OpenSans-Bold;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 1rem 1rem;
    margin: 0.4rem 0.4rem;
    border-radius: 5px;
    transition-property: background-color, color;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
    color: aliceblue;
    
}
a {
    color: aliceblue;
}

svg {
    /*position: sticky;*/
    width: 6.8rem;
    height: 6.8rem;

}

.nav-item:hover {
    background-color: #417485;
    color: aliceblue;
  }

ul li:nth-child(4n) {
    text-transform: uppercase;

}

main {
    display: flex;  
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    
}

.accueil {
    /*background: linear-gradient(0.25turn, #417485,#fcc8a0);*/
    width: 100%;
}

.accueil h1 {
    padding-top: 6rem;
    font-family: OpenSans-Bold;
    font-size: 1.5rem;
    color: aliceblue;

}

.carousel__slide h1 {
    padding-top: 0;
    font-family: OpenSans-Bold;
    font-size: 3rem;
    color: aliceblue;
  /*font-size: 50px;*/
  /*line-height: 50px;*/
  /*color: #fafafa;*/
  /*position: absolute;*/
  /*top: 50%;*/
  /*width: 100%;*/
  /*text-align: center;*/
  margin-top: -2rem;
}

.carousel_slide--plight {
    font-family: OpenSans-Regular;
    font-size: 1.5rem;
    color: aliceblue;
    line-height: 2rem;

}

.carousel_slide--pregular {
    font-family: OpenSans-Regular;
    font-size: 2.5rem;
    color: aliceblue;
    padding-bottom: 2rem;

}
.video {
    margin: 3rem 4.5rem;
}



.video_container {
    display: flex;
    flex-wrap: wrap;
   text-align: center;
   justify-content: center;
   gap: 3rem;
}

article {
    margin: 4rem 0;
    max-width: 40rem;
}


h2 {
    font-family: OpenSans-Bold;
    color: aliceblue;
    font-size: 2.2rem;
    padding: 0 2rem;



}

article p {
    color: aliceblue;
    font-size: 1.8rem;
    padding: 2rem 2rem;
    line-height: 2rem;


}

button {
  border: 1px solid rgba(240, 248, 255, 0);
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.211);
  font-family: OpenSans-Regular;
  color: rgba(56, 50, 50, 0.652);
  font-size: 2rem;
  padding: 1rem 1rem;
  transition-property: background-color, color;
transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}

button:hover {
    background-color: rgba(50, 65, 88, 0.8);
    color: rgb(255, 255, 255);
  }

.block_video {
    background-color: rgba(50, 65, 88, 0.9);
    /*width: 50%;
    height: 50%;*/
    border-radius: 25px;
    min-height: 30rem;
    min-width: 40rem;
    text-align: center;
    color: #324158;
}

.block_video2 {
    background-color: rgba(65, 116, 133, 0.9);
    /*width: 50%;
    height: 50%;*/
    border-radius: 25px;
    min-height: 30rem;
    min-width: 40rem;
    text-align: center;
    color: #417485;
}
.dates {
    /*margin-top: 2.5rem;*/
    display: flex;
    justify-content: center;
    width: 100%;
    
}
 .h_card { 
    font-family: OpenSans-Regular;
    color: aliceblue;
    font-size: 2rem;
    padding: 3rem 1.5rem;
    text-transform: uppercase;
}

.card_container {

    text-align: center;

}


.card {
    display: flex;
    flex-wrap: wrap;
    gap: 2.2rem;
    justify-content: center;

}
.card_sem {
    min-width: 18rem;
    min-height: 25rem;
    border: 1px solid rgba(65, 116, 133, 0.5);
    border-radius: 1.5rem;
}

.card_stg {
    min-width: 18rem;
    min-height: 25rem;
    border: 1px solid rgba(50, 65, 88, 0.5);
    border-radius: 1.5rem;
}
.faq {
    margin: 0 auto;
   

}

.contact {
    margin: 0 auto;
    

}





footer {
    
    background-color: #324158;
    color: aliceblue;
    text-align: center;
    /*padding: 1rem 1rem;*/
}

footer p {
    font-size: 1.3rem;
    padding: 1.5rem 0;
}

.heart-rate {
    width: 150px;
    height: 73px;
    position: relative;
    margin: 20px auto;
  }


  .fade-in {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #324158;
    top: 0;
    right: 0;
    animation: heartRateIn 3.5s linear infinite;
  }

  .fade-out {
    position: absolute;
    width: 120%;
    height: 100%;
    top: 0;
    left: -120%;
    animation: heartRateOut 3.5s linear infinite;
    background: rgba(50, 65, 88, 1);
    background: -moz-linear-gradient(left, rgba(50, 65, 88, 1) 0%, rgba(50, 65, 88, 1) 50%, rgba(50, 65, 88, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(50, 65, 88, 1) 0%, rgba(50, 65, 88, 1) 50%, rgba(50, 65, 88, 0) 100%);
    background: -o-linear-gradient(left, rgba(50, 65, 88, 1) 0%, rgba(50, 65, 88, 1) 50%, rgba(50, 65, 88, 0) 100%);
    background: -ms-linear-gradient(left, rgba(50, 65, 88, 1) 0%, rgba(50, 65, 88, 1) 50%, rgba(50, 65, 88, 0) 100%);
    background: linear-gradient(to right, rgba(50, 65, 88, 1) 0%, rgba(50, 65, 88, 1) 80%, rgba(50, 65, 88, 0) 100%);
  }

  @keyframes heartRateIn {
    0% {
      width: 100%;
    }
    50% {
      width: 0;
    }
    100% {
      width: 0;
    }
  }
   
  @keyframes heartRateOut {
    0% {
      left: -120%;
    }
    30% {
      left: -120%;
    }
    100% {
      left: 0;
    }
  }

